*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
}
/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}
button,
input,
textarea{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    border: none;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
    outline: none;
    box-shadow: none;
}
ul,
ol,
li{
    list-style-type: none;
    padding-left: 0;
}
p{
    font-size: 16;
    line-height:1.5;
    letter-spacing: -0.01em;
    color: #2B292D;
}
.fill-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 140px;
    height: 48px;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #FFF;
    background-color: #3040C4;
    transition: opacity 300ms ease-in-out;
}
.fill-button:hover{
    opacity: 0.5;
}
.fill-button.inverted{
    background-color: #FFF;
    color: #3040C4;
}
.section{
    padding: 80px 0;
}
.section-category{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}
.section-title{
    font-size: 34px;
    line-height: 1.058823529411765;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}
/* Landing */
.landing{
    background-color: #FDDED8;
    text-align: center;
}
.landing-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-title{
    color: #2B292D;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 24px;
}
.landing-desc{
    margin-bottom: 20px;
}
.landing .button-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .button-group .fill-button:first-child{
    margin-right: 8px;
}
/* Service */
.service{
    background-color: #F4F5F7;
    padding: 80px 0;
}
.service .col-12:first-child{
    margin-bottom: 38px;
}
.service-title{
    font-size: 22px;
    line-height: 1.363636363636364;
    letter-spacing: -0.04em;
    color: #2B292D;
    margin-bottom: 16px;
}
/* Program */
.program .row:first-child{
    margin-bottom: 32px;
}
.program .section-category{
    color: #009B4D;
}
.program .row:nth-child(2) .col-12:not(:last-child){
    margin-bottom: 20px;
}
.program-card img{
    display: block;
    width: auto;
    margin: 0 auto;
    height: 195px;
    margin-bottom: 16px;
}
.program-card{
    display: block;
    text-align: center;
    padding: 24px 0 32px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    transition: background-color 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
.program-card:hover{
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.program-card strong{
    font-size: 18px;
    line-height: 1.333333333333333;
    letter-spacing: -0.02em;
    transition: color 500ms ease-in-out;
}
.program-card:hover strong{
    color: #FFF;
}
/* curriculum */
.curriculum .row:first-child{
    margin-bottom: 48px;
}
.curriculum .section-category{
   color: #0189D1;
}
.curriculum .section-desc{
    margin-bottom: 32px;
}
.curriculum .curriculum-image{
    display: none;
}
.curriculum .curriculum-desc{
    font-size: 15px;
    line-height: 1.466666666666667;
    letter-spacing: -0.01em;
}
.curriculum .row:last-child .col-12:first-child{
    margin-bottom: 40px;
}
/* subscription */
.subscription{
    text-align: center;
    background-color: #F2F8FA;
    padding: 40px 0;
}
.subscription-image{
    padding: 25px;
}
.subscription-image img{
    display: block;
    width: auto;
    height: 190px;
    margin: 0 auto;
}
.subscription-title{
    color: #2B292D;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
}
.subscription-desc{
    margin-bottom: 24px;
}
.subscription-form .input-group{
    margin-bottom: 8px;
}
.subscription-form .input-group input{
    width: 100%;
    height: 48px;
    padding: 0 16px;
    margin-bottom: 8px;
    border-radius: 2px;
}
.subscription-form .input-group .fill-button{
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}
.subscription-form .form-notice{
    font-size: 13px;
    line-height: 1.538461538461538;
    letter-spacing: 0;
    color: #7B7B7E;
}
.subscription-form .form-notice a{
    color: #3040C4;
    text-decoration: underline;
}
/* footer */
.footer{
    padding: 24px 0;
}
.footer .footer-list:not(:last-child){
    margin-bottom: 8px;
}
.footer .footer-list a{
    color: #807F81;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714285714285714;
    letter-spacing: -0.01em;
}


/* >=768px (Desktop)*/
@media screen and (min-width:768px){
    p{
        font-size: 22px;
        line-height: 1.36363636;
    }
    .fill-button{
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.555555555555556;
    }
    .section{
        padding-bottom: 96px;
    }
    .section-category{
        font-size: 22px;
        line-height: 1.090909090909091;
        margin-bottom: 16px;
    }
    .section-title{
        font-size: 56px;
        line-height: 1;
        margin-bottom: 32px;
    }
    /* Landing */
    .landing-content{
        height: auto;
        padding: 120px 0;
    }
    .landing-title{
        font-size: 70px;
        line-height: 1.028571428571429;
        margin-bottom: 32px;
    }
    .landing-desc{
        margin-bottom: 32px;
    }
    .landing .button-group .fill-button:first-child{
        margin-right: 16px;
    }

    /* Service */
    .program{
        padding: 80px 0 96px 0;
    }
    .service .col-12:first-child{
        margin-bottom: auto;
    }
    .service-title{
        font-size: 26px;
        line-height: 1.307692307692308;
    }
    .service .col-12:first-child .service-desc{
        width: 370px;
    }
    /* Program */
    .program{
        text-align: center;
    }
    .program .row:first-child{
        margin-bottom: 72px;
    }
    .program-card strong{
        font-size: 20px;
        line-height: 1.2;
    }
    .program-card img{
        margin-bottom: 24px;
    }
    /* curriculum */
    .curriculum .row:first-child{
        margin-bottom: 24px;
     }
    .curriculum .section-desc{
        margin-bottom: 72px;
    }
    .curriculum .curriculum-image{
        display: block;
    }
    .curriculum .curriculum-image img{
        display: block;
        width: 100%;
        max-width: 425px;
        height: auto;
    }
    .curriculum .curriculum-desc{
        font-size: 18px;
        line-height: 1.444444444444444; 
    }
    .curriculum .row:last-child .col-12:first-child{
        margin-bottom: 0;
    }
  /* subscription */
    .subscription{
        padding: 80px 0;
        text-align: left;
    }
    .subscription-image{
        padding: 8px 0;
    }
    .subscription-image img{
        height: 285px;
        margin-left: 0;
    }
    .subscription-title{
        font-size: 40px;
    }
    .subscription-form .input-group{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    .subscription-form .input-group input{
        font-size: 18px;
        line-height: 1.333333333333333;
        height: 56px;
        margin-bottom: 0;
        margin-right: 8px;
    }
    .subscription-form .input-group .fill-button{
        width: 160px;
        flex-shrink: 0;
    }
    .subscription-form .form-notice{
        font-size: 14px;
        line-height: 1.714285714285714;
    }
    /* footer */
    .footer{
        padding: 16px 0;
    }
    .footer-lists{
        display: flex;
        align-items: center;
    }
    .footer .footer-list:not(:last-child){
        margin-bottom: 0;
        margin-right: 16px;
    }
}
/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px){
    .container{
        max-width: 960px !important;
    }
}