*{
    box-sizing: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}
button{
    border: none;
    color: white;
}
.confirm-button,
.cancel-button{
    width: 161px;
    height: 56px;
    border-radius: 100px;
    margin-right: 16px;
    transition : box-shadow 250ms ease-in;
}
.cancel-button{
    background-color: #ff4949;
}
.cancel-button:hover{
    box-shadow: 0 10px 16px 0 rgba(255, 73, 73, 0.35);
}

.confirm-button{
    background-color: #13CE66;
    box-shadow: 0 10px 16px 0 rgba(19, 206, 102, 0.35);
}

